/********** Defaults **********/

:root {
    --theme-1: #E0E0E0;
}

/********** Features **********/

.full-height {
    height: 100%;
    min-height: 100%;
}

.full-width {
    width: 100%;
    min-width: 100%;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

/********** Component Styles **********/

#app-content {
    display: grid;
    height: 100vh;
}

#navbar {
    box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
    z-index: 1000;
    background: white;
    position: fixed;
}

#navbar-search {
    transition-property: max-height;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    height: auto;
}

#logo {
    display: flex;
    align-items: center;
}

#search-toggle {
    display: flex;
    justify-content: end;
    align-items: center;
}

#search-section label {
    font-size: 0.75rem;
}

#main-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-content-fluid {
    background: var(--theme-1);
    scroll-behavior: smooth;
}

#app-description {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#app-description, .apod-card {
    z-index: 100;
    border-radius: 10px;
    margin-bottom: 1rem;
    overflow: hidden;
    background: white;
}

#app-description, .apod-card, #load-more-btn {
    box-shadow: 1px 2.1px 2.1px hsl(0deg 0% 0% / 0.47);
}

.apod-card {}

.apod-card-image img {
    max-width: 100%;
    max-height: 100%;
}

.apod-card-image .col-12 {
    padding: 0;
}

.apod-card-description {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#load-more-btn {
    width: 100%;
    height: 100%;
    border: none;
    background: white;
    border-radius: 10px;
}

/********** Media Queries **********/

/********** Extra Large devices only **********/

@media (min-width: 1200px) {}

/********** Large devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {}

/********** Small devices only **********/

@media (min-width: 576px) and (max-width: 767px) {}

/********** Extra Small devices only **********/

@media (max-width: 575px) {}